header{
  width: 100%;
  height: 64px;
  display: flex;
  
}
.logo{
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
}
.thweek{
  color:skyblue;
  margin-top: 25px;

}
.record{
  color: white;
  border: 3px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgb(51, 175, 233);
  background: linear-gradient(to right,rgb(30, 87, 241),rgb(51, 175, 233));
  padding: 12px;
  padding-left: 50px;
  padding-right:50px;
  margin: 10px;
  transform: translateX(70vw);
  
}



main{
background-color:whitesmoke;
padding-top: 20px;
;
}

/* main全体にかけてる */
.flex{
display: flex;
}

/* 左側のみかけてる */
.column{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 0;

}

.statistics{
  display: flex;
  gap: 20px;
  margin-left: 120px;
  margin-right: 0;
  padding-right: 0;
  padding: 0;

}
@media screen and (max-width: 768px) {.statistics{
width: 30%;

  }}


.today{
  text-align: center;
  border: 3px;
  border-radius: 10px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: ;
  background-color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
  width: 28%;
  height: 100%;
}
@media screen and (max-width: 768px) {.today{
  width: 50%;
  }}

.month{
  text-align: center;
  border: 3px;
  border-radius: 10px;
  padding-left: 65px;
  padding-right: 65px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
  width: 30%;
  height: 100%;

}
.total{
  
  text-align: center;
  border: 3px;
  border-radius: 10px;
  padding-left: 65px;
  padding-right: 65px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
  width: 30%;
  height: 100%;

}
.monthText{
text-align: center;

}
.blue{
  
  color:mediumblue;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}
.figure{
  font-size: 36px;
  font-weight:1000;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  
}
.hour{
  color: skyblue;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.barGraph{
margin-top: 20px;
margin-left: 110px;
margin-right: 0;
padding: 0;
}
@media screen and (max-width: 768px) {.barGraph{
  width: 200px;
  }}


.barGraph img{

}

#myChart{
  }




.language{
  margin-left: 0;
  background-color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
  border-radius: 10px;
  padding: 20px;
}

.content{
  background-color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 120px;
  padding: 20px;
}

.yearMonth{
  text-align: center;
}

.footer{
  background-color:whitesmoke;
}

/* 以下モーダル */
.modalFlex{
  display:flex;
  margin-left: 26px;
  margin-right: 26px;
}
.modalColumn{
margin-right: 40px;
display: table-column;

}
.studyBold{
  font-weight:bold;
}
.studyGrayBig{
  width:340px;
  height:30px;
  background-color:whitesmoke;
  border: none;
  border-radius: 10px;
  
}
.studyGray{
  color: #4f96f6;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0px;
  margin-top:0px;
  gap: 0px;
  
}
.studyGrayTwitter{
  width:340px;
  height:140px;
  background-color:whitesmoke;
  border: none;
  border-radius: 10px;
  
}
.studyContent{
  
}
.checkbox{
  border-radius: 1px;
}
.share{
  display: flex;
}
.close{
  transform: translateX(57vw);
  background-color:whitesmoke;
  border: 0px solid;
  border-radius: 30px;
  width:25px;
  text-align: center;
}
/*以下カレンダー */
.flatpickr-input{
  width:340px;
  height:30px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0px;
  margin-top:0px;
  border: none;
}
.flatpickr-weekday{
  color: #6bb6ff;
}



.flatpickr-day {
  border: none;
  
}
.today{
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  border: none;
}

/* 以下checkbox */


.studyGray{
  padding: 4px 8px;
  display:inline-flex;
  align-items: center;
  cursor: pointer;
  }
  .checkbox {
  margin: 0;
  width:0px;
  opacity: 0;
  }
  .studyGray:hover{
  background: rgba(0,0,0,.05) !important;
  }
  /* .studyGray:hover > .checkboxDummy{
  transform: scale(1.1);
  } */
  /* .checkbox:focus + .checkboxDummy{
  transform: scale(1.1);
  } */
  .checkbox:checked + .checkboxDummy {
  background:blue;
  }
  .checkbox:checked + .checkboxDummy::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 65%;
  width: 40%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
  }
  .checkbox:checked + .checkboxDummy::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 70%;
  width: 70%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
  }
  .checkboxDummy {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, .15);
  border-radius: 50%;
  transition: all .15s linear;
  
  }
  .checkboxText {
  margin-left: 12px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  }




.modal-wrapper {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center;
  
}

.modal-button {
  color: white;
  border: 3px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgb(51, 175, 233);
  background: linear-gradient(to right,rgb(30, 87, 241),rgb(51, 175, 233));
  padding: 12px;
  padding-left: 50px;
  padding-right:50px;
  margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    cursor :pointer;
    transition: all 0.3s;
    display: block;
    text-decoration: none;
    transform: translateX(70vw);
}


.modal-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/

}

/*アイコンを表示*/
.modal-button:after {
font-family: "Font Awesome 5 Free";
  /* content: "\f2d0"; */
    padding-left: 8px;
}

/*ラベルホバー時*/
.modal-button:hover {
  color: #FFFFFF;
  background-color: #4f96f6;
  transition: .6s;
  transform: translateX(70vw);
  /* これないと動く */
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  /* margin-left: -.05em; */
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 900px;
  height: 500px;
  /* max-width: 600px; */
  padding: 10px 30px 25px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  height: 100%;
  overflow-y: auto;
  text-align: left;
  border: none;
}

.modal_title {
  font-size: 1.5em;
	position: relative;
	overflow: hidden;
  padding: 0;
}

.modal_title::before,
.modal_title::after{
	content: "";
	position: absolute;
	bottom: 0;
}

/* h2 プライマリカラー*/
.modal_title:before{
	border-bottom: 4px solid #6bb6ff;
	width: 100%;
}
/* h2 セカンダリカラー*/
.modal_title:after{
	border-bottom: 4px solid #c8e4ff;
	width: 100%;
}

.modal-content p {
  margin: 10px 0 0 0;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  color: #95979c !important;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}

#modal-01{
  z-index: 0;
}





.modal-wrapper2 {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center;
}
.modal-02{
  z-index: 99999;
}
.modal-overlay2 {
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper2:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper2:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper2::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper2 .modal-window2 {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 10px 30px 25px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper2 .modal-window2 .modal-content2 {
  max-height: 80vh;
  overflow-y: auto;
  text-align: left
}

.modal_title {
  font-size: 1.5em;
	position: relative;
	overflow: hidden;
  padding: 0;
}

.modal_title::before,
.modal_title::after{
	content: "";
	position: absolute;
	bottom: 0;
}

/* h2 プライマリカラー*/
.modal_title:before{
	border-bottom: 4px solid #6bb6ff;
	width: 100%;
}
/* h2 セカンダリカラー*/
.modal_title:after{
	border-bottom: 4px solid #c8e4ff;
	width: 100%;
}

.modal-content2 p {
  margin: 10px 0 0 0;
}

.modal-overlay2 {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper2 .modal-close {
  z-index: 20;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  color: #95979c !important;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper2 .modal-close:hover {
  color: #2b2e38 !important
}

.modal-button2{
  width: 40%;
  height: 20%;
  color: white;
  border: 3px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgb(51, 175, 233);
  background: linear-gradient(to right,rgb(30, 87, 241),rgb(51, 175, 233));
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right:30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
    font-weight: bold;
    text-align: center;
    cursor :pointer;
    display: block;
    text-decoration: none;

}
.midDiv{
  margin-bottom: 0;
  padding-bottom: 0;
}
.mid{
text-align: center;
transform: translateY(-50%);
}



/* 以下モーダル２ */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(to right bottom, #FFA500, #FF6347);
  border-radius: 5px;
  color: #fff;
  margin: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: .8;
}

/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);  
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal {
  max-width: 500px;
  width: 86%;
  padding: 15px 20px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.modal h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.modal p {
  font-size: 13px;
}

/* スクロールできる高さを出すための設定 */
section {
  height: 200vh;
}




.loader{
  /*円のデザイン*/
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  /*色の指定*/
  border-color: #ffbb1e #faebe4 #faebe4;
  /*アニメーションの指定*/
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);/*回転する*/
  }
}

#loader.loaded {
  animation: 1s  infinite ease-in-out ;
}
.loaded {
  opacity: 0;
  display: none;
}


dialog{
  width: 910px;
  height: 500px;
  border-radius: 40px;
  text-align: right;
  
}
#close{
  border: none;
  border-radius: 10px;
  
}
.modal2Text{
  text-align: center;
  margin-top: 100px;
}
.green{
  color:yellowgreen
}

.complete{
  visibility: hidden;
  opacity: 0;
}